@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    /* overflow: hidden; */
    /* cursor: none; */
    font-family: 'Lato';
    /* scroll-behavior: smooth; */
}

:root {
    --primary-color: #D9D9D9;
}

main {
    display: flex;
    overflow-x: hidden;
}

section {
    min-width: 100vw;
    max-height: 100vh;
}

.separator {
    min-height: auto;
    margin-top: 68px;
    min-width: 1vw;
    width: 2.8em;
    height: calc(100vh - 68px);
    /* background-color: aliceblue; */
    border-left: #D9D9D9 1px solid;
    border-right: #D9D9D9 1px solid;
}

.separator div {
    padding-left: 0.1em;
    width: 100%;
}

.separator p {
    /* padding-left: 0.1em; */
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: var(--primary-color);
    font-size: 2em;
    height: max-content;
    transition: all .1s ease;
    display: flex;
    align-items: center;
}

.separator p span {
    padding: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    margin-bottom: 15px;
    margin-top: 15px;
}


a:visited {
    color: initial;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(117.64deg, #000000 32.82%, #080606 74.64%, rgba(5, 6, 6, 0.96) 102.41%) !important;
    overflow: hidden;
}

main {
    overflow: hidden;
}

header {
    z-index: 6;
    /* background-color: rgba(110, 110, 110, 0.3); */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    border-bottom: 2px solid #FFFFFF;

}

header div.nom {

    width: 250px;
    height: 39px;

    margin-left: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: white;
}

#pointer {
    position: absolute;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
    transform: translate3d(-50%, -50%, 0);
    transition: all 0.05s linear;
}






.container {
    display: flex;
    width: 12%;
    justify-content: space-evenly;
}

.squares {
    width: 35px;
    height: 35px;
    border: 4px solid #D9D9D9;
    border-radius: 15px;
    cursor: pointer;
}

div.titreContainer {
    position: relative;
}

div.titreContainer h2 {
    position: absolute;
    width: 721px;
    height: 109px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 113px;
    color: white;
    z-index: -1;
}

h2:nth-of-type(1) {
    left: 333px;
    top: 320px;
}

h2:nth-of-type(2) {
    left: 535px;
    top: 457px;
}

h2:nth-of-type(3) {
    left: 351px;
    top: 594px;
}


h1 {
    margin-top: 20%;
    color: white;
}







/* Rectangle 7 */

/* box-sizing: border-box;

position: absolute;
width: 36px;
height: 55px;
left: 19px;
top: 953px;

border: 4px solid #D9D9D9;
border-radius: 21px; */


/* Line 2 */
/* 
position: absolute;
width: 21px;
height: 0px;
left: 35px;
top: 953px;

border: 4px solid #D9D9D9;
transform: rotate(90deg); */


/* SCROLL TO DISCOVER */
/*
position: absolute;
width: 264px;
height: 26px;
left: 69px;
top: 974px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;
*/
#assScrollContainer {
    display: flex;
}