body,main{
    overflow: scroll;
}
#assScrollContainer{
    flex-direction: column;
}
#mainTitles{
    
}
section{
    min-width:auto  ;
    width: 100vw;
    height: 85vh;
}

h2{
    color:var(--primary-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    /* font-size: 96px; */
    line-height: 113px;
    /* color: white; */
    font-size: 12vw ;
}

h2:nth-of-type(1) {
    left: 2vw;
    top: 30vh;
}
h2:nth-of-type(2) {
    left: 10vw;
    top: 40vh;
}

h2:nth-of-type(3) {
    left: 6vw;
    top: 50vh;
}
.separator{
    /* transform: rotate(-90deg); */
}


.separator, .separator2, .separator3{
    width:100vw;
    height: 5vh;
    
}


#suisJe{
    top:5vh;
    left:5vw;
}

#student {
    position: absolute;
    width: 580px;
    height: 115px;
    left: 6vw;
    top: 12vh;
}

#devWeb {
    position: absolute;
    width: 580px;
    height: 115px;
    left: 8vw;
    top: 22vh;
}
#fullStack{
    position: absolute;
    width: 580px;
    height: 115px;
    left: 8vw;
    top: 30vh;
}
#devWeb,#student,#suisJe,#fullStack{
font-size: 8vw;
}

#presentation p:nth-of-type(2) {
    position: absolute;
    width: 55vw;
    color: white;
    left: 10%;
    top: 47%;
    font-size: 7vw;
}


#presentation p:nth-of-type(1) {
    position: absolute;
    width: 45vw;
    color: white;
    left: 50%;
    top: 70%;
    font-size: 7vw;
}

#presentation{
    height: 90vh ;
}