#assScrollContainer {
  flex-direction: column;
  overflow: hidden;
}
#mainTitles {
  position: relative
}
section {
  min-width: auto;
  width: 100vw;
  height: 85vh;
}

h2 {
  color: var(--primary-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  /* font-size: 96px; */
  line-height: 113px;
  /* color: white; */
  font-size: 12vw;
}

h2:nth-of-type(1) {
  left: 2vw;
  top: 30vh;
}
h2:nth-of-type(2) {
  left: 10vw;
  top: 40vh;
}

h2:nth-of-type(3) {
  left: 6vw;
  top: 50vh;
}
.separator {
  /* transform: rotate(-90deg); */
}

.separator,
.separator2,
.separator3 {
  width: 100vw;
  height: 5vh;
}

#suisJe {
  top: 5vh;
  left: 5vw;
  width: fit-content;
}
#student,
#devWeb,
#fullStack {
  position: absolute;
  width: fit-content;
  height: fit-content;
}
#student {
  left: 6vw;
  top: 12vh;
}

#devWeb {
  left: 8vw;
  top: 22vh;
}
#fullStack {
  left: 8vw;
  top: 30vh;
}
#devWeb,
#student,
#suisJe,
#fullStack {
  font-size: 8vw;
}
#presentation p {
  color: white;
  font-size: 7vw !important;
}
#presentation p:nth-of-type(2) {
  position: absolute;
  width: 75vw;
  left: 10%;
  top: 47%;
}

#presentation p:nth-of-type(1) {
  position: absolute;
  width: 75vw;
  left: 20%;
  top: 70%;
}

#presentation {
  height: 130vh;
}
