.searchbar,
.searchbar input {
    width: 453px;
    height: 36px;


    background: #D9D9D9;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.searchbar {
    position: relative;

}

.searchbar input {
    border: none;
    padding-left: 5%;
}

.searchbar.open {
    height: 36vh;
    transform: translateY(15vh);
}

.searchbar.open #caret {
    display: none;
}

.searchbar.open ul {
    display: block;
}

/* Blinking caret in input */

.searchbar #caret {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 2px;
    height: 50%;
    background-color: black;
    animation: blink 1s infinite ease-in-out;
}

/* keyframes to blink    */

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.searchbar ul {
    /* margin-left: 5%; */
    display: none;
}

.searchbar ul li a {
    z-index: 999;
    font-weight: 800;
    /* display: none; */
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border: grey 2px solid;
    padding-left: 1em;
    color: black;
    text-decoration: none;
    transition: all .2s ease;
}

.searchbar ul li a:hover {
    background-color: rgba(55, 53, 47, 0.08);
}

.searchbar ul li div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    background-color: white;
    border: grey 0.5px solid;
    border-radius: 10%;
    margin-right: 2em;
}

.searchbar ul li div img {
    width: 70%;
    height: 70%;
}

.searchbar ul li:last-of-type a {
    border-radius: 0 0 20px 20px;
}